@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  list-style: none;
}

body {
  background: var(--background-white);
}

html,
body {
  scroll-behavior: smooth;
}

#app {
  margin: 0 auto;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button,
a,
input {
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}

a,
button {
  padding: 10px;
  cursor: pointer;
}

input {
  width: 100%;
  height: 46px;
}

p,
li {
  width: 100%;
}

ul {
  display: flex;
}

.swiper {
  width: 100%;
  max-height: 490px;
  overflow: visible;
}

.swiper-slide img {
  display: flex;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--background-gray-400);
  font-weight: bold;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 60px;
  border-radius: 0px;
  background: var(--background-white);
}

.pitchbar {
  display: flex;
  align-items: center;
  color: var(--background-white);
  background: var(--background-wine);
  padding: 5px 16px;
}

.slider-produto .slider-image img {
  min-width: 87px;
  max-width: 87px;
  height: 87px;
  cursor: pointer;
}

select {
  width: 61px;
  height: 33px;
  padding: 0 9px;
  cursor: pointer;
}

.button-click {
  width: 100%;
  height: 50px;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  background: var(--background-wine);
  color: var(--background-white);
}

@media (max-width:1200px) {

  .slider-produto .slider-image img {
    min-width: 77px;
    max-width: 77px;
    height: 77px;
  }
}