:root {
  --background-gray-400: #333333;
  --background-gray-500: #262626;
  --background-gray-600: #1a1a1a;
  --background-gray-700: #0d0d0d;
  --background-gray: #ededed;
  --background-gray-color: #9A9A9A;
  --background-orange: #ea7c69;
  --background-white: #ffffff;
  --background-black: #000000;
  --background-red: #ff0000;
  --background-wine: #a51416;
}
